# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=freirora

# Make this the same as your github username/organisation
REPO_ORGANIZATION="freiheit"

IMAGE_DESC="Freirora Customized Aurora-dx Image"
IMAGE_KEYWORDS="bootc,ublue,universal-blue,aurora,aurora-dx,dx"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/19813?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
